In [1]:
from transformers import pipeline

pipe = pipeline('zero-shot-classification','facebook/bart-large-mnli')

/Users/apple/Desktop/NLP_Projects/venv_ai_app/lib/python3.11/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

model.safetensors:   0%|          | 0.00/1.63G [00:00<?, ?B/s]

Error while downloading from https://cdn-lfs.huggingface.co/facebook/bart-large-mnli/cfbb687dbbd9df99fe865e1860350a22aebac4d26ee4bcb50217f1df606a018e?response-content-disposition=attachment%3B+filename*%3DUTF-8%27%27model.safetensors%3B+filename%3D%22model.safetensors%22%3B&Expires=1716009289&Policy=eyJTdGF0ZW1lbnQiOlt7IkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTcxNjAwOTI4OX19LCJSZXNvdXJjZSI6Imh0dHBzOi8vY2RuLWxmcy5odWdnaW5nZmFjZS5jby9mYWNlYm9vay9iYXJ0LWxhcmdlLW1ubGkvY2ZiYjY4N2RiYmQ5ZGY5OWZlODY1ZTE4NjAzNTBhMjJhZWJhYzRkMjZlZTRiY2I1MDIxN2YxZGY2MDZhMDE4ZT9yZXNwb25zZS1jb250ZW50LWRpc3Bvc2l0aW9uPSoifV19&Signature=GIwLoLSU3osEjeoht-ezdnZ45HyMxSATvTsHm-a9bmnypuKgwAzGmeJqEYR2xjtAqPpMCgW6RvkYvmvdkFFwaVI1MgjlQh%7E9favu%7EAm5-de9ZN4mokxr5W0bF2jcBWV--QepkXVCN5Cur2NMyG1-UB53v1w3lHIrYWcWaVxrb8tHoncMLg89R9urIrne-1io-7rOTsHXUIH563rhXDh8l8tHEWjqFy61PAswer2X%7E-%7EGy0deSK7jI-pzDq12Hf0rbUZnYRnSZ0yshmVkldFIcui2R4qnvEgFsjOTNUe0Y4abKDLO4GorhF%7EMs6CmctiVZSSRCdpnCwJUJ3XskHCkQQ__&Key-Pair-Id=KVTP0A1DKRTAX: HTTPSConnectionPool(host='cdn-lfs.huggingface.co', port=443): Read timed out.
Trying to resume download...

model.safetensors:  59%|#####9    | 965M/1.63G [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/26.0 [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

In [48]:
classes = ['IT issue', "News", "Entertainment"]

In [15]:
output = pipe("Reset my password",['IT issue', "News", "Entertainment"])
output

{'sequence': 'Reset my password',
 'labels': ['IT issue', 'Entertainment', 'News'],
 'scores': [0.636796236038208, 0.22437287867069244, 0.13883090019226074]}

In [22]:
sub_output={x:output[x] for x in ['labels', 'scores']}
sub_output

{'labels': ['IT issue', 'Entertainment', 'News'],
 'scores': [0.636796236038208, 0.22437287867069244, 0.13883090019226074]}

In [31]:
st_output = dict(zip(output['labels'],output['scores']))
st_output

{'IT issue': 0.636796236038208,
 'Entertainment': 0.22437287867069244,
 'News': 0.13883090019226074}

In [30]:
for i,k in st_output.items():
    print(i,k)

IT issue 0.636796236038208
Entertainment 0.22437287867069244
News 0.13883090019226074

In [11]:
import pandas as pd
df = pd.DataFrame(output)
df

            sequence         labels    scores
0  Reset my password       IT issue  0.636796
1  Reset my password  Entertainment  0.224373
2  Reset my password           News  0.138831

In [12]:
!pip install flask

Collecting flask
  Obtaining dependency information for flask from https://files.pythonhosted.org/packages/61/80/ffe1da13ad9300f87c93af113edd0638c75138c42a0994becfacac078c06/flask-3.0.3-py3-none-any.whl.metadata
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug>=3.0.0 (from flask)
  Obtaining dependency information for Werkzeug>=3.0.0 from https://files.pythonhosted.org/packages/9d/6e/e792999e816d19d7fcbfa94c730936750036d65656a76a5a688b57a656c4/werkzeug-3.0.3-py3-none-any.whl.metadata
  Downloading werkzeug-3.0.3-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: Jinja2>=3.1.2 in /Users/apple/Desktop/NLP_Projects/venv_ai_app/lib/python3.11/site-packages (from flask) (3.1.4)
Collecting itsdangerous>=2.1.2 (from flask)
  Obtaining dependency information for itsdangerous>=2.1.2 from https://files.pythonhosted.org/packages/04/96/92447566d16df59b2a776c0fb82dbc4d9e07cd95062562af01e408583fc4/itsdangerous-2.2.0-py3-none-any.whl.metadata
  Downloading itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: click>=8.1.3 in /Users/apple/Desktop/NLP_Projects/venv_ai_app/lib/python3.11/site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /Users/apple/Desktop/NLP_Projects/venv_ai_app/lib/python3.11/site-packages (from flask) (1.8.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/apple/Desktop/NLP_Projects/venv_ai_app/lib/python3.11/site-packages (from Jinja2>=3.1.2->flask) (2.1.5)
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.7/101.7 kB 708.9 kB/s eta 0:00:00a 0:00:01
Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Downloading werkzeug-3.0.3-py3-none-any.whl (227 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.3/227.3 kB 1.5 MB/s eta 0:00:0000:0100:01m
Installing collected packages: Werkzeug, itsdangerous, flask
Successfully installed Werkzeug-3.0.3 flask-3.0.3 itsdangerous-2.2.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [ ]:
# load excel -- select a ds-- excel file or any ds from HF DS--start with any
# create backend then create frontend

In [35]:
import pandas as pd
df = pd.read_excel("emails_shipping.xlsx")
df.head(3)

,From,To,Date,No_of_Attachments,Attachment_type,Subject,Body,Target
0,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",2020-12-05 00:00:00,0,NaN,Booking Request SIN to AWP RG43423434,Please book our shippment on 20 May SIN to HAM...,Booking
1,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",5/13/2020,0,NaN,Re: Booking Request SIN to AWP RG43423434,Please change Quantity to 10\n\nFrom: Singapor...,Booking Amendment
2,Brenda@JLMLogistics.com,"SingaporeBooking@wns.com, Tony@ABCShipping.com...",4/18/2020,0,NaN,HBL no. 4253554,"Dear All,\nPlease book us on below:\nSingapore...",Booking

In [37]:
df['text']=df['Subject']+'. ' +df['Body']
df.head(3)

,From,To,Date,No_of_Attachments,Attachment_type,Subject,Body,Target,text
0,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",2020-12-05 00:00:00,0,NaN,Booking Request SIN to AWP RG43423434,Please book our shippment on 20 May SIN to HAM...,Booking,Booking Request SIN to AWP RG43423434 Please ...
1,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",5/13/2020,0,NaN,Re: Booking Request SIN to AWP RG43423434,Please change Quantity to 10\n\nFrom: Singapor...,Booking Amendment,Re: Booking Request SIN to AWP RG43423434 Ple...
2,Brenda@JLMLogistics.com,"SingaporeBooking@wns.com, Tony@ABCShipping.com...",4/18/2020,0,NaN,HBL no. 4253554,"Dear All,\nPlease book us on below:\nSingapore...",Booking,"HBL no. 4253554 Dear All,\nPlease book us on ..."

In [60]:
batch_output = pipe(list(df['text'][:3]),classes)
batch_output

[{'sequence': 'Booking Request SIN to AWP  RG43423434 Please book our shippment on 20 May SIN to HAM.\nFREIGHT PREPAID  \nSee details - \nGross Wt. - 205 kgs\nVolume - 0.51 cbm\n',
  'labels': ['News', 'Entertainment', 'IT issue'],
  'scores': [0.5767813324928284, 0.32675623893737793, 0.09646248072385788]},
 {'sequence': 'Re: Booking Request SIN to AWP  RG43423434 Please change Quantity to 10\n\nFrom: SingaporeBooking@wns.com\nDate: 12/5/2020\nTo: John@ABCShipping.com, Shawn@ABCShipping.com, Rav@ECULine.com\nSubject: Re: Booking Request SIN to AWP  RG43423434\n\nHi, \nYour shipment Booked - Booking id - 12121212\n\nFrom: John@ABCShipping.com\nDate: 12/5/2020\nTo: SingaporeBooking@wns.com, Shawn@ABCShipping.com, Rav@ECULine.com\nSubject: Booking Request SIN to AWP  \n\n\nPlease book our shippment on 20 May SIN to HAM.\nFREIGHT PREPAID  \nSee details - \nGross Wt. - 205 kgs\nVolume - 0.51 cbm\n',
  'labels': ['News', 'Entertainment', 'IT issue'],
  'scores': [0.5460141897201538, 0.33170321583747864, 0.12228256464004517]},
 {'sequence': 'HBL  no. 4253554 Dear All,\nPlease book us on below:\nSingapore / Chennai\n5 Packages / 45.3 kg / 0.33 M3\nFreight Paid\nElectrical parts',
  'labels': ['News', 'Entertainment', 'IT issue'],
  'scores': [0.7583906650543213, 0.1628202646970749, 0.07878908514976501]}]

In [61]:
batch_output['label']

TypeError: list indices must be integers or slices, not str

In [62]:
[i['labels'][0] for i in batch_output]

['News', 'News', 'News']

In [65]:
df1 = df[:3]
df1['predicted']=[i['labels'][0] for i in batch_output]
df1

/var/folders/m_/_x8t4kvn0334z53zdz_86l400000gp/T/ipykernel_56480/2521900963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['predicted']=[i['labels'][0] for i in batch_output]

,From,To,Date,No_of_Attachments,Attachment_type,Subject,Body,Target,text,predicted
0,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",2020-12-05 00:00:00,0,NaN,Booking Request SIN to AWP RG43423434,Please book our shippment on 20 May SIN to HAM...,Booking,Booking Request SIN to AWP RG43423434 Please ...,News
1,John@ABCShipping.com,"SingaporeBooking@wns.com, Shawn@ABCShipping.co...",5/13/2020,0,NaN,Re: Booking Request SIN to AWP RG43423434,Please change Quantity to 10\n\nFrom: Singapor...,Booking Amendment,Re: Booking Request SIN to AWP RG43423434 Ple...,News
2,Brenda@JLMLogistics.com,"SingaporeBooking@wns.com, Tony@ABCShipping.com...",4/18/2020,0,NaN,HBL no. 4253554,"Dear All,\nPlease book us on below:\nSingapore...",Booking,"HBL no. 4253554 Dear All,\nPlease book us on ...",News

In [57]:
for i in df['text'][:3]:# Doubt : How to check what parameters go in an object of another object: How to check if pipe takes in str only of list of str
    # pipe(i)
    print(i)
    print("---------")

Booking Request SIN to AWP  RG43423434 Please book our shippment on 20 May SIN to HAM.
FREIGHT PREPAID
See details -
Gross Wt. - 205 kgs
Volume - 0.51 cbm

---------
Re: Booking Request SIN to AWP  RG43423434 Please change Quantity to 10

From: SingaporeBooking@wns.com
Date: 12/5/2020
To: John@ABCShipping.com, Shawn@ABCShipping.com, Rav@ECULine.com
Subject: Re: Booking Request SIN to AWP  RG43423434

Hi,
Your shipment Booked - Booking id - 12121212

From: John@ABCShipping.com
Date: 12/5/2020
To: SingaporeBooking@wns.com, Shawn@ABCShipping.com, Rav@ECULine.com
Subject: Booking Request SIN to AWP


Please book our shippment on 20 May SIN to HAM.
FREIGHT PREPAID
See details -
Gross Wt. - 205 kgs
Volume - 0.51 cbm

---------
HBL  no. 4253554 Dear All,
Please book us on below:
Singapore / Chennai
5 Packages / 45.3 kg / 0.33 M3
Freight Paid
Electrical parts
---------

In [56]:
[df['text'][:3]]

[0    Booking Request SIN to AWP  RG43423434 Please ...
 1    Re: Booking Request SIN to AWP  RG43423434 Ple...
 2    HBL  no. 4253554 Dear All,\nPlease book us on ...
 Name: text, dtype: object]